App_WebReferences/WebReference/SSOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="System" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:portType name="SSOServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试方法</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检测用户登录。返回值处理：判断返回值是否包含字符串@#￥%，如果包含，对返回值用@#￥%分割，得到用户名密码，如果密码为空，则判断用户是否存在，存在进行登录操作，如果密码不为空，则用用户名和密码进行验证登录；如果不包含，则不进行登录操作，页面显示返回值的内容。</wsdl:documentation>
      <wsdl:input message="tns:CheckUserSoapIn" />
      <wsdl:output message="tns:CheckUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSOServiceSoap" type="tns:SSOServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSOServiceSoap12" type="tns:SSOServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSOService">
    <wsdl:port name="SSOServiceSoap" binding="tns:SSOServiceSoap">
      <soap:address location="http://221.2.94.82:8088/GPM/App/GPM/SSOService.asmx" />
    </wsdl:port>
    <wsdl:port name="SSOServiceSoap12" binding="tns:SSOServiceSoap12">
      <soap12:address location="http://221.2.94.82:8088/GPM/App/GPM/SSOService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>